
html, body, main {
  width: 100%;
}

body {
  display: flex;
  background-color: #6c9dc6;
  flex-flow: row nowrap;
}

main {
  width: auto;
  flex-grow: 1;
}

nav {
  width: 200px;
  height: 100%;
  position: absolute;
  transform: translate(-200px, 0);
  transition: transform 0.3s ease;
  background-color: steelblue;
}

nav.open {
  position: relative;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

@media screen and (min-width:500px) {
  nav {
    position: relative;
    transform: translate(0, 0);
  }
}

nav td {
  color: white;
}

.table-hover tbody tr:hover td{
  background-color: #325d81;
}

nav tr:hover {
  background-color: #325d81;
}

nav tr:hover .btn-xs{
  visibility: visible;
  border: none;
  background-color: #325d81;
  font-weight: bold;
  font-size: 20;
}

nav td .btn-xs{
  visibility: hidden;
}

#mapDiv {
  height: 600px;
  padding-bottom: 5%;
}

#searchText {
  width: 100%;
}

.icon-bar {
  background-color: #ffffff;
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}