
html, body, main {
  width: 100%;
}

nav {
  width: 200px;
  height: 100%;
  position: absolute;
  transform: translate(-200px, 0);
  transition: transform 0.3 ease;
  background-color: steelblue;
}

nav td {
  color: white;
}

.table-hover tbody tr:hover td{
  background-color: darkblue;
}

nav tr:hover {
  background-color: darkblue;
}

nav tr:hover .btn-xs{
  visibility: visible;
  border: none;
  background-color: darkblue;
  font-weight: bold;
  font-size: 20;
}

nav td .btn-xs{
  visibility: hidden;
}

nav.open {
  position: relative;
  transform: translate(0, 0);
  transition: transform 0.3 ease;
}

body {
  display: flex;
  flex-flow: row nowrap;
}

main {
  width: auto;
  flex-grow: 1;
}

@media screen and (min-width:500px) {
  nav {
    position: relative;
    transform: translate(0, 0);
  }
}

#mapDiv {
  height: 600px;
  padding-bottom: 5%;
}

#searchText {
  width: 100%;
}

/*
.ui-autocomplete {
  background-color: #ffffff;
  border: 1px solid black;
  display: inline;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui-helper-hidden-accessible {
  position: absolute;
  left:-999em;
  width:0;
  height:0;
}
*/

.icon-bar {
  background-color: #ffffff;
  margin-top: 4px;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}